
<div class="jumbotron">
    <h1 style="text-align: center; color: #8f713c ">QUẢN LÝ CÀ PHÊ</h1>
</div>

<div class="row">
    <div class="fd">
        @Html.Action("fdPartial", "Sản_phẩm1")
    </div>
</div>